body {
  margin: 0;
  overflow: hidden;
  font-family: 'Patrick Hand SC', cursive;
  color: rgb(87, 87, 85);
}

div {
  display: block;
}

#container {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scene-text {
  text-align: left;
  position: absolute;
  margin: 5vh 25vw 0 25vw;
  font-size: 24px;
}

#choices {
  text-align: left;
  position: absolute;
  margin: 65vh 25vw 0 25vw;
  font-size: 18px;
}

.choice {
  padding: 0 5px;
}

.choice:hover {
  text-decoration: underline;
  cursor: pointer;
}

#stats {
  position: relative;
  top: 30vh;
  left: -25vw;
}

#enemy-stats {
  position: relative;
  top: 25vh;
  left: 20vw;
}

.player {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 40vh;
  left: 17vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.enemy-image {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 40vh;
  left: 60vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {

  #scene-text {
    font-size: 16px;
    margin: 10px;
  }

  #choices {
    font-size: 18px;
    margin: 65vh 10px;
  }

  .choice {
    background-color: rgba(201, 201, 201, 0.5);
    margin-top: 5px;
    border-radius: 10px;
  }

  .choice:active {
    background-color: rgba(164, 163, 163, 0.5);

  }

  #stats {
    font-size: 12px;
  }

  #enemy-stats {
    font-size: 12px;
  }

  .player {
    height: 150px;
    width: 150px;
    left: 8vw;
  }

  .enemy-image {
    height: 150px;
    width: 150px;
    left: 50vw;
  }

}
