body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

div {
  display: block;
}

#container {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#scene-graphics {
}

#scene-text {
  text-align: left;
  position: absolute;
  margin: 5vh 25vw 0 25vw;
  font-size: 20px;
}

#choices {
  text-align: left;
  position: absolute;
  margin: 70vh 25vw 0 25vw;
  font-size: 18px;
}

.choice {
  padding: 0 5px;
}

.choice:hover {
  text-decoration: underline;
  cursor: pointer;
}

#stats {
  position: relative;
  top: 30vh;
  left: -25vw;
}

#enemy-stats {
  position: relative;
  top: 25vh;
  left: 20vw;
}

.player {
  position: absolute;
  height: 250px;
  width: 150px;
  top: 40vh;
  left: 20vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.enemy-image {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 40vh;
  left: 60vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
