body {
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  color: rgb(87, 87, 85);
  background-color: #f6f0df;
}

#container {
  text-align: center;
}

h1 {
  margin: 80px auto;
}

button {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
  padding: 20px 40px;
  border-radius: 15px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

#story, #instructions {
  text-align: justify;
  margin: 5vh 20vw;
}

#story {
  font-weight: 600;
  font-size: 30px;
}

#instructions {
  font-size: 20px;
}

@media (max-width: 1000px) {

  h1 {
    margin: 30px auto;
  }

  #story, #instructions {
    line-height: 20px;
    margin: 5vh 10vw;
  }

  #story {
    font-size: 30px;
  }

  #instructions {
        font-size: 14px;
  }

  button {
    margin-bottom: 20px;
    font-size: 16px;
  }

}
