body {
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  color: #494747;
  background-color: #f6f0df;
  text-shadow: 2px 1px #d4cdba;
}

#container {
  background-image: url(../images/backgrounds/wizardlair.jpg);
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f0df;
  background-blend-mode: multiply;
}

h1 {
  margin: 80px auto;
}

button {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
  padding: 20px 40px;
  border-radius: 15px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: #494747;
  text-decoration: none;
}

#story, #instructions {
  text-align: left;
  margin: 5vh 20vw;
}

#story {
  font-weight: 600;
  font-size: 30px;
}

#instructions {
  font-size: 20px;
}

input, select:focus, textarea {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 16px;
  color: #494747;
  border: .5px solid #494747;
  border-radius: 5px;
  padding: 0 3px;
}

input:focus {
  outline: none;
}

@media (max-width: 1000px) {

  h1 {
    margin: 30px auto;
  }

  #story, #instructions {
    line-height: 20px;
    margin: 5vh 10vw;
  }

  #story {
    font-size: 30px;
  }

  #instructions {
        font-size: 14px;
  }

  button {
    margin-bottom: 20px;
    font-size: 16px;
  }

}
